[id="intro"] {
  h1 {
    padding-top: 60px;
  }

  @media (min-width: 768px) {
    h1 {
      padding-top: 80px;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      padding-top: 100px;
    }
  }
}
