:root {
  --primary:    hsl(270, 100%, 20%);
  --secondary:  hsl( 60, 100%, 80%);
  --red:        hsl(  0, 100%, 20%);
  --green:      hsl(120, 100%, 80%);
  --blue:       hsl(210, 100%, 20%);

  --black:  hsl(0, 0%,  5%);
  --slate:  hsl(0, 0%, 20%);
  --gray:   hsl(0, 0%, 50%);
  --silver: hsl(0, 0%, 80%);
  --white:  hsl(0, 0%, 95%);
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: var(--white);
}

body,
figure,
ul {
  margin: 0;
}

[id="portfolio"],
[id="blog"],
[id="links"] {
  margin: auto;
  max-width: 1200px;
}

hr {
  margin: 50px auto;
  width: 50%;
  color: var(--primary);
}

ul {
  padding: 0;
  list-style: none;
}
