:root {
  --primary:    hsl(275, 100%, 25%);
  --secondary:  hsl(120, 100%, 50%);
  --black:      hsl(0, 0%, 0%);
  --gray:       hsl(0, 0%, 20%);
  --silver:     hsl(0, 0%, 80%);
  --white:      hsl(0, 0%, 99%);
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

body,
figure,
ul {
  margin: 0;
}

[id="portfolio"],
[id="blog"],
[id="links"] {
  margin: auto;
  max-width: 1200px;
}

hr {
  margin: 50px auto;
  width: 50%;
  color: var(--primary);
}

ul {
  padding: 0;
  list-style: none;
}
